Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/ca.gmo
po/cs.gmo
po/de.gmo
po/es.gmo
po/fr.gmo
po/it.gmo
po/ja.gmo
po/nl.gmo
po/pl.gmo
po/pt_BR.gmo
po/zh_CN.gmo
po/zh_TW.gmo
src/.deps/
src/Makefile
src/Makefile.in
src/main.o
src/ttsubset/.deps/
src/ttsubset/Makefile
src/ttsubset/Makefile.in
src/ttsubset/libttsubset.a
src/ttsubset/list.o
src/ttsubset/sft.o
src/ttsubset/ttcr.o
src/xo-callbacks.o
src/xo-clipboard.o
src/xo-file.o
src/xo-image.o
src/xo-interface.c.bak
src/xo-interface.h.bak
src/xo-interface.o
src/xo-misc.o
src/xo-paint.o
src/xo-print.o
src/xo-selection.o
src/xo-shapes.o
src/xo-support.o
src/xournal
stamp-h.in
stamp-h1
xournal-new.glade
xournal-new.glade~
xournal.glade.bak
xournal.gladep.bak
